@model IEnumerable<Movie.Domain.Models.MovieFilm>

@{
    ViewData["Title"] = "Index";
}

<h1>Movies</h1>

<p>
    <a asp-action="Create" class="btn-outline-dark">Create New</a>
</p>
<div class="row">

    @foreach (var item in Model)
    {
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@item.ImageURL" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <ul class="list-group list-group-flush pb-2">
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.datum)</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.zanr)</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Price)</li>
                </ul>
                <a asp-controller="Movie" asp-action="AddTicketToCard" asp-route-id="@item.Id" class="btn btn-info">Add to Card</a>
                <br />
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    </div>

    }
</div>