@model IEnumerable<Movie.Domain.Models.MovieFilm>

@{
    ViewData["Title"] = "Index";
}

<h1>Movies</h1>
@if (User.IsInRole("Administrators"))
{
    <p>
    <a asp-action="Create" class="btn-outline-dark">Create New</a>
    </p>
    <form asp-controller="Movie" asp-action="ImportMovies" method="post" enctype="multipart/form-data">
        <div class="form-group w-25">
            <input type="file" name="file" class="form-control" />
        </div>

        <hr>

        <button type="submit" class="btn btn-outline-primary">Import File</button>
    </form>
}
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4 p-2">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImageURL" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <a href="#" data-toggle="modal" data-target="#@item.Id" class="link-info">Read Description</a>
                        <ul class="list-group list-group-flush pb-2">
                            <li class="list-group-item">Date available from: @Html.DisplayFor(modelItem => item.datum)</li>
                            <li class="list-group-item">Genre: @Html.DisplayFor(modelItem => item.zanr)</li>
                            <li class="list-group-item">Price: @Html.DisplayFor(modelItem => item.Price)</li>
                        </ul>
                        <a asp-controller="Movie" asp-action="AddTicketToCard" asp-route-id="@item.Id" class="btn btn-info">Add to Card</a>
                        <br />
                        @if (User.IsInRole("Administrators"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


