@model Movie.Domain.Models.MovieA

<h1 style="height:50px"></h1>

    <div>
        <div class="card" style="background-color: ghostwhite">
            <h2 style="text-align: center">
            </h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="@Html.DisplayFor(item => item.Poster)" />
                </div>
                <div class="col-md-8">
                    <div>
                        <h1>@Html.DisplayFor(item => item.Title)</h1>
                        <h5>Runtime:@Html.DisplayFor(item => item.Runtime)</h5>
                        <h5>Country: @Html.DisplayFor(item => item.Country)</h5>
                        <h5>Released: @Html.DisplayFor(item => item.Released)</h5>
                        <h5>Rated: @Html.DisplayFor(item => item.Rated)</h5>
                        <h5>Genre: @Html.DisplayFor(item => item.Genre)</h5>
                        <h5>Director: @Html.DisplayFor(item => item.Director)</h5> 
                        <h5>Writer: @Html.DisplayFor(item => item.Writer)</h5>
                        <h5>Actors: @Html.DisplayFor(item => item.Actors)</h5>
                        <h5>Language: @Html.DisplayFor(item => item.Language)</h5>
                        <h5>@Html.DisplayFor(item => item.Awards)</h5>
                        <p>Plot: @Html.DisplayFor(item => item.Plot)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>